@use "../variables" as *;

// Remove all default margin
* {
  margin: 0;
}

#site-title {
  color: $accent-color;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -1px;

  @media (prefers-color-scheme: dark) {
    color: $accent-color-dark;
  }

  &:hover,
  &:focus {
    outline: 0;
    color: $accent-inverted;
    background-color: $accent-color;

    @media (prefers-color-scheme: dark) {
      color: $accent-inverted-dark;
      background-color: $accent-color-dark;
    }
  }
}
