@use "../variables" as *;
@use "sass:color";

$button-border: color.adjust($accent-color, $lightness: -8%);
$button-border-dark: color.adjust($accent-color-dark, $lightness: 8%);

a {
  &:not(.button) {
    &:link {
      text-decoration-thickness: 0.06em;
      text-underline-offset: 0.06em;

      color: $accent-color;
      text-decoration-color: $accent-color;

      @media (prefers-color-scheme: dark) {
        color: $accent-color-dark;
        text-decoration-color: $accent-color-dark;
      }
    }

    &:visited {
      text-decoration-line: underline;

      color: $accent-color;
      text-decoration-color: $accent-color;

      @media (prefers-color-scheme: dark) {
        color: $accent-color-dark;
        text-decoration-color: $accent-color-dark;
      }
    }

    &:hover,
    &:focus {
      text-decoration-line: none;
    }

    &:active {
      color: $accent-inverted-active;
      @media (prefers-color-scheme: dark) {
        color: $accent-inverted-active-dark;
      }
    }
  }

  &.button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;

    background-color: $accent-color;
    color: $accent-inverted;
    border: 1px solid $button-border;

    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: inherit;
    justify-content: center;
    padding: 0.5em 1em;
    position: relative;
    vertical-align: top;

    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      background-color: $accent-color-dark;
      color: $accent-inverted-dark;
      border: 1px solid $button-border-dark;
    }

    &:hover {
      background-color: $button-border;
      @media (prefers-color-scheme: dark) {
        background-color: $button-border-dark;
      }
    }
  }
}
