header {
  &.header {
    @include flexRowApart;
    align-items: center;

    a {
      @include linkResetStyle;
      @include linkMakeTouchAccessible;
    }

    nav {
      @include flexRowApart;

      ul {
        @include listMakeHorizontal;
      }
    }

    .site-title {
      display: flex;
      align-items: center;

      img {
        display: inline-block;
        height: 1.15rem;
      }

      span {
        display: inline-block;
        font-weight: bold;
      }

      * + * {
        padding-left: 0.5rem;
      }
    }

    .searchform input[type="search"] {
      border-radius: 3pt;
      border: 0.125em solid #737373;
      border-width: 0 0 3px;
      background-color: black;
      filter: saturate(0%), brightness(100%);
      padding: 0.1875em 0.375em;
      width: 80%;
    }

    .searchform input[type="search"]:focus {
      border-color: #e18728;
      color: #e18728;
      outline: 0;
    }
  }
}
