header {
  &.header {
    background-color: $header-background-color;
    border-bottom: 1px solid $header-border-color;
    @include layoutDoNotStickToTheXEdge;
  }

  @media screen and (max-width: 767px) {
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow-x: hidden;
  }
}
