header {
  &.header {
    color: $header-font-color;
    background-color: $header-background-color;
    border-bottom: 1px solid $header-border-color;

    @media (prefers-color-scheme: dark) {
      color: $header-font-color-dark;
      background-color: $header-background-color-dark;
      border-bottom: 1px solid $header-border-color-dark;
    }

    @include layoutDoNotStickToTheXEdge;
  }

  @media screen and (max-width: 767px) {
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow-x: hidden;
  }
}
