@charset "utf-8";

// Define defaults for each variable.
$accent-color: #0D9;
$accent-inverted: #fff;
$accent-inverted-active: #ccc;

// Import partials.
@import
  "kids/base",
  "kids/layout",
  "kids/links",
  "kids/typography"
;
