{%- assign locale = site.lang | 'en' -%}

<div id="related-pages">
  {%- if page.previous -%}
  {%- assign previous = page.previous -%}
  <div id="related-page-previous">
    <p class="related-page-heading">{{ 'common.previous' | translate: locale }}</p>
    <p class="related-page-title">
      <a href="{{ previous.url | relative_url }}">
        {{ previous.title }}
      </a>
    </p>
    <p class="related-page-date">{{ previous.date | i18n_date: 'default', locale }}</p>
  </div>
  {%- else -%}
  {%- assign first = site.posts.first -%}
  <div id="related-page-previous">
    <p class="related-page-title">
      <a href="{{ first.url | relative_url }}">
        {{ first.title }}
      </a>
    </p>
    <p class="related-page-date">{{ 'common.firstPage' | translate: locale }}</p>
  </div>
  {%- endif -%}
  {%- if page.next -%}
  {%- assign next = page.next -%}
  <div id="related-page-next">
    <p class="related-page-heading">{{ 'common.next' | translate: locale }}</p>
    <p class="related-page-title">
      <a href="{{ next.url | relative_url }}">
        {{ next.title }}
      </a>
    </p>
    <p class="related-page-date">{{ next.date | i18n_date: 'default', locale }}</p>
  </div>
  {%- else -%}
  <div id="related-page-next">
    <p class="related-page-title">
      <a href="{{ 'feed.xml' | relative_url }}">
        {{ 'common.subscribe' | translate: locale }}
      </a>
    </p>
    <p class="related-page-date">{{ 'common.lastPage' | translate: locale }}</p>
  </div>
  {%- endif -%}
</div>
