@mixin flexRowApart {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
}

@mixin layoutDoNotStickToTheXEdge {
  padding: 0 1rem;
}

@mixin linkMakeTouchAccessible {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@mixin linkResetStyle {
  color: inherit;
  text-decoration: none;
}

@mixin listMakeHorizontal {
  @include listReset;

  display: flex;
  flex: 1;

  // Show list items horizontally.
  & > li {
    display: inline-flex;
  }

  // Add some margins between items (but skip outter margins).
  & > li {
    margin: 0 0.75rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin listReset {
  // Reset browser stylesheet paddings & margins.
  padding: 0;
  margin: 0;
  // Don't show a bullet.
  list-style: none;
}
