/// HEADER
$header-font-color: #333;
$header-background-color: hsl(0, 100%, 98%);
$header-border-color: hsl(0, 100%, 90%);

$header-font-color-dark: #fff;
$header-background-color-dark: hsl(0, 100%, 5%);
$header-border-color-dark: hsl(0, 100%, 10%);

/// MAIN
$main-background-color: hsl(85, 100%, 95%);

/// FOOTER
$footer-background-color: hsl(170, 100%, 95%);
$footer-border-color: hsl(170, 100%, 50%);

$text-color: #333;

$background-color-dark: #333;
$text-color-dark: #fff;

$text-color-subdued: #666;
$text-color-subdued-dark: #aaa;

$accent-color: #16d;
$accent-color-dark: #5af;

$accent-inverted: #fff;
$accent-inverted-dark: #333;

$accent-inverted-active: #ccc;
$accent-inverted-active-dark: #666;
