$background-color: #fff;
$text-color: #333;

$background-color-dark: #333;
$text-color-dark: #fff;

$text-color-subdued: #666;
$text-color-subdued-dark: #aaa;

$accent-color: #16d;
$accent-color-dark: #5af;

$accent-inverted: #fff;
$accent-inverted-dark: #333;

$accent-inverted-active: #ccc;
$accent-inverted-active-dark: #666;
