---
layout: default
---
{%- assign locale = site.lang | 'en' -%}
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:site.kids.home_posts -%}
      <li>
        <article class="post-list-item">
          <div class="post-link">
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </div>
          <div class="post-meta">{{ post.date | i18n_date: 'default', site.lang }}</div>
          <div class="post-summary">
            {%- if site.show_summary -%}
              {%- if post.summary -%}
                {{ post.summary | markdownify }}
              {%- elsif post.excerpt -%}
                {{ post.summary | markdownify }}
              {%- endif -%}
            {%- endif -%}
            </div>
        </article>
      </li>
      {%- endfor -%}
    </ul>

    {%- if site.posts.size > site.kids.home_posts -%}
    <a href="{{ site.kids.archives_path | default: 'archives.html' | relative_url }}">
      {{ 'common.morePosts' | translate: locale }}
    </a>
    {%- endif -%}

    {{ content }}

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <span>{{ 'common.subscribe' | translate: locale }}</span>
      </a>
    </p>
  {%- endif -%}

</div>
